* {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
  transition: 0.4s;
}

a:hover {
  transform: rotateZ(360deg) scale(1.2);
  color: #a29bfe;
}

html,
body {
  font-family: "Noto Sans KR", "Roboto";
}

section {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 44px;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about,
.skills,
.projects {
  max-width: 1200px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
  background-color: #e7e5dc;
  font-weight: bold;
}

footer a {
  font-size: 40px;
}

.contact__email,
footer a,
.contact__copy {
  margin-bottom: 24px;
}

footer .contact__title {
  font-size: 40px;
}

footer .contact__email {
  cursor: pointer;
  transition: 0.4s;
}

footer .contact__email:hover {
  transform: scale(1.2);
  color: #a29bfe;
}

footer .contact__email,
.contact__copy {
  font-size: 15px;
}

.hidden {
  display: none;
}

.selected {
  transform: scale(1.2);
  color: #a29bfe;
}

@media screen and (max-width: 767px) {
  .nav__wrap {
    background-color: #e7e5dc;
  }

  .about .about__skills {
    flex-direction: column;
  }

  .about__skills .about__skill {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav__wrap i {
    display: none;
  }
}
