.projects {
  background-color: #b2bec3;
  padding: 24px;
}

.projects .projects__title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.projects__nav {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-around;
}

.projects__nav .projects__category {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.projects__nav .projects__category:hover {
  color: #a29bfe;
  transform: scale(1.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  gap: 24px;
}

.grid .card {
  position: relative;
  width: 100%;
  height: 100%;
}

.card .card__img {
  width: 100%;
  height: 100%;
}

.card .card__info {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.4s;
  color: white;
}

.card .card__info:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.card__info .card__title {
  font-size: 22px;
  font-weight: bold;
}

.card__info .card__icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 30px;
}
